# Data Preprocessing - EIT - Machine Learning

### Copyright (c) 2018, Faststream Technologies
### Author: Sudhanva Narayana

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('../assets/EIT Clean.xlsx', skip_rows=[0, 1, 2])

In [3]:
df.head()

,name,age,metric,sex,part,distance,weight,no_electrodes,res_min_1,res_max_1,...,res_min_4_5,res_max_4_5,res_min_5_6,res_max_5_6,res_min_6_7,res_max_6_7,res_min_7_8,res_max_7_8,res_min_8_1,res_max_8_1
0,Shreyas,23,kilo,Male,forearm,1,85,8,0.05,0.058,...,65.0,72.0,109.0,110.0,77.0,82.0,42.00,43.00,21.0,23.0
1,Shreejith,23,kilo,Male,forearm,1,72,8,117.00,122.000,...,8.0,9.0,4.5,4.5,3.5,3.5,0.80,0.80,93.0,96.0
2,Vinod,65,kilo,Male,forearm,1,79,8,1.80,2.800,...,1.9,2.0,1.6,1.6,9.5,9.5,5.30,5.30,3.3,3.3
3,Sudhanva,23,kilo,Male,forearm,1,90,8,0.05,0.050,...,4.3,4.3,1.9,1.9,0.5,0.5,0.65,0.65,6.5,6.8
4,Mayuresh,30,kilo,Male,forearm,1,76,8,19.00,20.000,...,67.0,68.0,24.0,25.0,84.0,85.0,80.00,90.00,80.0,81.0

In [4]:
to_be_removed = ['res_min_7_8', 'res_max_7_8', 'res_min_8_1',
       'res_max_8_1', 'part', 'distance', 'no_electrodes', 'name', 'metric']

for i in range(1, 9):
    df[str(i)] = (df['res_min_' + str(i)] + df['res_min_' + str(i)]) / 2
    to_be_removed.append('res_min_' + str(i))
    to_be_removed.append('res_max_' + str(i))

In [5]:
for i, j in zip(range(1, 9), range(2, 8)):
    df[str(i) + '_' + str(j)] = (df['res_min_' + str(i) + '_' + str(j)] + df['res_min_' + str(i) + '_' + str(j)]) / 2
    to_be_removed.append('res_min_' + str(i) + '_' + str(j))
    to_be_removed.append('res_max_' + str(i) + '_' + str(j))

In [6]:
df['7_8'] = (df['res_min_7_8'] + df['res_max_7_8']) / 2
df['8_1'] = (df['res_min_8_1'] + df['res_max_8_1']) / 2

In [7]:
df.drop(to_be_removed, axis=1, inplace=True)

In [8]:
df.head()

,age,sex,weight,1,2,3,4,5,6,7,8,1_2,2_3,3_4,4_5,5_6,6_7,7_8,8_1
0,23,Male,85,0.05,17.0,8.00,70.00,87.0,137.0,67.00,84.0,47.0,52.0,50.0,65.0,109.0,77.0,42.50,22.00
1,23,Male,72,117.00,116.0,95.00,97.00,102.0,106.0,108.00,140.0,107.0,16.0,38.0,8.0,4.5,3.5,0.80,94.50
2,65,Male,79,1.80,9.6,7.50,6.50,3.7,5.0,6.00,7.5,19.5,2.6,4.5,1.9,1.6,9.5,5.30,3.30
3,23,Male,90,0.05,4.5,10.52,5.32,7.0,1.4,1.49,3.8,2.0,15.5,0.9,4.3,1.9,0.5,0.65,6.65
4,30,Male,76,19.00,62.0,40.00,33.00,33.0,32.0,20.00,55.0,58.0,85.0,38.0,67.0,24.0,84.0,85.00,80.50

In [9]:
df.columns

Index(['age', 'sex', 'weight', '1', '2', '3', '4', '5', '6', '7', '8', '1_2',
       '2_3', '3_4', '4_5', '5_6', '6_7', '7_8', '8_1'],
      dtype='object')

In [10]:
df.to_csv('../assets/eit_clean_final.csv', index=False)